{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
        .texto{
            text-align: center !important;
        }

        .lightgreen {
            background-color: #A7FFB2;
        }

        .lightgrey{
            background-color: #C1BFC4;
        }

        .lightyellow{
            background-color: #E0D994;
        }

        .lightred{
            background-color: #E58C8C;
        }

        .lightblue{
            background-color: #A0B5FF;
        }

        .pequeno{
            height: 4em;
        }

        p {
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    </style>

<div class="ui container">
    <div style="margin-top: 4em"></div>
     <div class="ui centered grid">
            <h1 style="font-family: Bitter; font-size: 3.8em" class="text header">Classificação</h1>
            <br>
        </div>

    <div class="ui container">
        <div class=" ui five column grid">
            <div class="column grey"><p>Posição</p></div>
            <div class="column green center aligned"><p>Time</p></div>
            <div class="column yellow center aligned"><p>Pontos</p></div>
            <div class="column red center aligned"><p>Vitorias</p></div>
            <div class="column blue center aligned"><p>SG</p></div>
            {% for time in times %}
                <div class="column lightgrey"><p>{{ forloop.counter }}</p></div>
                <div class="column lightgreen center aligned"><a href="{% url 'time:time_view' pk=time.id %}"><img class="ui mini avatar image" src="{% static 'copaoifc/times/'%}{{ time.logo }}"></a> </div>
                <div class="column lightyellow center aligned"><p>{{ time.pontos }}</p></div>
                <div class="column lightred center aligned"><p>{{ time.vitoria }}</p></div>
                <div class="column lightblue center aligned"><p>{{ time.saldo_gols }}</p></div>

            {% endfor %}
        </div>
    </div>
     <div class="" style="margin-bottom: 11%"></div>
</div>

{% endblock %}