<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>


<div class="ui container">
    <div style="height: 53em" class="ui segment">

    </div>
    <div class="ui red inverted vertical footer segment">
        <div class="ui inverted divided equal height stackable grid">
            <div class="six wide column"></div>
            <div class="four wide column">Alow</div>
        </div>
    </div>
</div>