{% extends 'base.html' %}
{% block content %}

<div class="ui container">
    <div class="ui centered grid" style="margin-top: 10em">
        <div style="margin-top: 3em; margin-bottom: 3em; height: 10em; width: 40em;" class="ui centered grid">
            <h3>Tem certeza que quer dispensar<text style="color: green"> {{ jogador.nome }}</text>?(Uma vez dispensado não é possível cancelar)</h3>
            <div>
                <a href="{% url 'account:dispensar' pk=jogador.id admin=admin %}"><button class="ui green button">Sim</button></a>
                <a href="{% url 'account:account' pk=admin %}"><button class="ui red button">Não</button></a>
            </div>
        </div>
    </div>
</div>

<article style="margin-top: 23.5em">

</article>




{% endblock %}