{% extends 'base.html' %}
{% block content %}
{% load static %}


<!--    <div class="ui container">-->
<!--         <div id="time1" style="margin-top: 5em; margin-bottom: 5em" class="ui four centered column grid">-->
<!--                <div style="display: block">-->
<!--                    <input class="ui input" placeholder="Gols" id="gols" type="number" value="" style="margin-right: 2em; margin-bottom: 5em">-->
<!--                    <input  id="envia_gols" class="ui button" type="submit" value="OK" style="margin-bottom: 5em">-->
<!--                </div>-->
<!--                <br>-->
<!--                <form>-->
<!--                    <div id="blá" class="" style="">-->

<!--                    </div>-->
<!--                </form>-->

<!--                 <select class="ui fluid search dropdown" style="margin-top: 5em">-->
<!--                     <option value="">Jogadores</option>-->
<!--                 {% for jogador in jogadores_t1 %}-->
<!--                     <option value="{{jogador.nome}}">{{jogador.nome}}</option>-->
<!--                 {% endfor %}-->
<!--                 </select>-->
<!--                 <br>-->
<!--                 <input class="ui button" type="submit" value="OK">-->
<!--        </div>-->
<!--    </div>-->

<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--            $('.dropdown').dropdown();-->
<!--            $('#envia_gols').click(function () {-->
<!--                var gols =  $('#gols').val();-->
<!--                $('#blá').empty()-->
<!--                for (i = 0; i < gols; i++) {-->
<!--                    $('#blá').append('<div style="display: block">BLÁ</div>')-->
<!--                }-->
<!--            })-->
<!--        });-->

<!--    </script>-->

<div class="ui container">

        <form style="margin-top: 5em; margin-bottom: 5em" class="ui two column stackable grid">
            <div class="red column">
                <div class="ui grid">
                    <div class="four wide column">Nome</div>
                    <div class="four wide column">G</div>
                    <div class="four wide column">CA</div>
                    <div class="four wide column">CV</div>

                    {% for jogador in jogadores_t1 %}
                        <div class="four wide column">{{ jogador.jogador.nome }}</div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.gols }}" type="number"></div></div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.cartoes_amarelos }}" type="number"></div></div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.cartoes_vermelhos }}" type="number"></div></div>
                    {% endfor %}
                </div>
            </div>
            <div class="blue column">
                 <div class="ui grid">
                     <div class="four wide column">Nome</div>
                     <div class="four wide column">G</div>
                     <div class="four wide column">CA</div>
                     <div class="four wide column">CV</div>

                     {% for jogador in jogadores_t2 %}
                        <div class="four wide column">{{ jogador.jogador.nome }}</div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.gols }}" type="number"></div></div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.jogador.cartao_amarelo }}" type="number"></div></div>
                        <div class="four wide column"><div class="ui mini input pequenoInput"><input value="{{ jogador.jogador.cartao_vermelho }}" type="number"></div></div>
                     {% endfor %}
                </div>
            </div>
            <button class="ui button" type="submit">Ela é uma boa menina</button>
        </form>

</div>



{% endblock %}

