{% extends 'base.html' %}



<!-- Menu -->
	{% block content %}
	<article style="margin-top: 3.3em; margin-bottom: 5em;">
		<div class="ui container">
			<div class="ui row">
				{% load static %}
				<div class="ui four column tablet computer only padded grid" style="margin: 0 0 0 0">
					{% for time in times %}
					<div style="padding: 0 0 0 0" class="ui centered column">
						<a class="ft_time ui fluid image" href="{% url 'time:time_view' pk=time.id%}"><img src="{% static 'copaoifc/times/'%}{{time.logo}}" alt=""></a>
					</div>
					{% endfor %}
				</div>

				<div class="ui two column mobile only padded grid" style="margin: 0 0 0 0">

					{% for time in times %}
					<div style="padding: 0 0 0 0" class="ui centered column">
						<a class="ft_time ui fluid image" href="{% url 'time:time_view' pk=time.id%}"><img src="{% static 'copaoifc/times/'%}{{time.logo}}" alt=""></a>
					</div>
					{% endfor %}
			</div>
		</div>
	</article>
	{% endblock %}



